*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    height: 80px;
    background-color: #ffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #696e75;
    

}
 .cloths{
    height: 60px;
    width: 80px;
   
}
    /* website logo */
.my_logo{
    margin-left: 4%;
}
/* navigation bar section */
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
     
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: 1px;
    color:#282c3f ;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize; 
      padding: 28px 0;
      border-bottom: 4px solid #ffff;

}
.nav_bar a:hover{
     border-bottom: 3px solid red;
}
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;

}
/* search bar section */
.search_bar{
     height: 40px;
    min-width: 200px;
    width: 30%;
     display: flex;
     align-items: center;
}

.search_icon{
   box-sizing:content-box;
   height: 20px;
   padding: 10px;

   background-color:#f2f2f6; 
   border-radius: 4px 0 0 4px;
   font-weight: 300;
   color: #282c3f;
     
}

.search_input{
     box-sizing:content-box;
    flex-grow: 1;
    height: 40px;
    background-color: #f2f2f6;
    color: #696e75;
    border: 0;
    border-radius: 0 4px 4px 0;
    
    
}
.search_input:hover{
    border: 3px solid blue;
}
 /* last action bar section */
.action_bar{
    margin-right: 4%;
   display: flex;
   min-width: 200px;
   justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
}
.action_cantaner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    
}
.action_tital{
    text-transform: capitalize;
    margin-top: 4px;
}
/* main section */

.banner_contaner{
  margin: 40px 0;

}
.banner_image{
    width: 100%;

}

.categare_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 24px 6px 24px 23px;
    font-weight: 700;
    max-height: 33px;

}
.categare_heading_image{
    width: 95%;
    min-width: 50%;
    margin: 30px;

}
.category_items{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}
.offer_item{
    width: 250px;

}
.footer_img{
    width: 95%;
    min-width: 50%;
    margin: 30px;
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    text-transform: uppercase;
    
    
}
/* .footer_container a::after{
    background: linear-gradient(to right,red, blue);
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 10ms;

} */
.footer_column a:hover{
  border-bottom:3px solid #ff3f6c;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    width: max-content;
}
.keep{
     color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    width: max-content;
}
.search_of_list{
     color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: capitalize;
    text-transform: uppercase;
    letter-spacing: 2px;

}
p{
 margin-top: 30px;
     text-decoration: none;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;

}


.copyright{
    color: #94969f;
    margin-left: 100px;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
}